<!-- START Off Sidebar (right)-->
<nav>
   <tabset justified="true">
      <tab>
         <tab-heading>
            <i class="md-settings md-2x"></i>   
         </tab-heading>
         <div ng-include="'app/views/partials/settings.html'"></div>
      </tab>
      <tab>
         <tab-heading>
            <i class="md-account-child md-2x"></i>   
         </tab-heading>
         <div>
            <div ng-include="'app/views/partials/chat.html'"></div>
         </div>
      </tab>
   </tabset>
</nav>
<!-- END Off Sidebar (right)-->